div.portal-flickr-row {
	display: block;
        margin: 0px 0px;
	padding: 0;
}

div.portal-flickr-row img {
	border: 1px solid #ddd;
	width: 100px;
	height: 100px;
	padding: 2px;
	margin: 0 2px;
}

div.portal-bliptv-row {
	display: block;
	margin: 0;
	padding: 0;
}

div.portal-bliptv-row img {
	width: 200px;
	height: 160px;
	padding: 2px;
	margin: 0 2px;
}
